<footer class="footer">
  <small>
    All of this is thanks to
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a><br>
    From the bottom of our hearts, THANK YOU!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path  %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

